@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 93%;
    --foreground: 0 0% 0%;
    --card: 0 0% 93%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 93%;
    --popover-foreground: 0 0% 0%;
    --primary: 210 100% 48%;
    --primary-foreground: 0 0% 0%;
    --secondary: 349 85% 34%;
    --secondary-foreground: 0 0% 93%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 349 84% 20%;
    --accent-foreground: 0 0% 93%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 349 84% 40%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 100%;
    --card: 0 0% 7%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 100%;
    --primary: 210 100% 52%;
    --primary-foreground: 0 0% 7%;
    --secondary: 349 85% 66%;
    --secondary-foreground: 0 0% 7%;
    --muted: 0 0% 80%;
    --muted-foreground: 0 0% 100%;
    --accent: 349 84% 80%;
    --accent-foreground: 0 0% 7%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 349 84% 60%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
